.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__logo {
  display: block;
  width: 131px;
}

.header__logo-image {
  width: 100%;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  list-style: circle;
}

.header__link {
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

a {
  text-underline-offset: 4px;
}

.header__address {
  all: unset;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  max-width: 239px;
  justify-self: end;
}

.cover {
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  z-index: 1;
  inset: 0;
}

.cover__title {
  margin-bottom: 106px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
}

.letter-spacing-extended {
  word-spacing: 0.8em;
}

.bet-button {
  all: unset;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  background: transparent;
}

.bet-button_text {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lots {
  margin: 0 24px 120px 24px;
  padding: 0;
}

.lots__heading {
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  list-style: none;
  margin-top: 27px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  position: relative;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  margin-left: 40px;
  font-weight: normal;
  font-size: 20px;
  color: #000;
}

.about {
  margin: 0 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  justify-items: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-left {
  padding-top: 35px;
}

.about__column-right {
  padding-top: 136px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.about__text p {
  margin-bottom: 24px;
  padding-right: 5px;
}

.about__text p:last-child {
  margin-bottom: 0px;
}

.footer {
  padding: 0 50px 82px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
  all: unset;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  max-width: 239px;
  justify-self: start;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: end;
  column-gap: 24px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}